/* ---------Utilities-------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1300px;
    margin: 0 auto;
    background-color: black;
}

.grey-btn{
    background-color: grey;
    padding: 5px 15px;
    border-radius: 10px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.content-flex{
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
    padding-left: 10px;
}

.opacity{
    background-color: rgba(0, 0, 0, 0.6);
}
/* --------header---------- */

.main-header{
    width: 90%;
    height: 50px;
    line-height: 50px;
    text-align: right;
    color: white;
    background-color: black;
    position: fixed;
}
/* --------main--------- */

main{
    height: calc(100% - 100px);
}

.container .utent-square{
    height: 190px;
    width: calc(100% / 5 - 20px);
    background-image: url(../img/176-246x146.jpg);
    background-size: cover;
    margin: 10px 10px;
}

.utent-square .square-info{
    color: white;
    padding: 5px 5px;
}